body {
    background-color: red;
    margin: 0 auto;
}

button {
    height: 50px;
    width: 50px;
    background-color: white;
    margin: 10px;
    border: none;
    border-radius: 10px;
}

.button-holder {
    width: 640px;
    margin: 0 auto;
    text-align: center;
}

.previous {
    float: left;
}

.next {
    float: right;
}

.person, .title-container {
    background-color: white;
    padding: 5px;
    width: 500px;
}

.title-container {
    margin: 10px auto;
    text-align: center;
}

/*.person {*/
    /*margin: 10px;*/
    /*float: left;*/
    /*display: inline;*/
/*}*/

#container {
    margin: 0 auto;
    width: 500px;
    overflow: hidden;
    height: 100px;
}

#container ul {
    width: 500px;
    padding: 0;
    margin: 0;
}

#container ul li {
    width: 500px;
    text-align: center;
    list-style: none;
    display: inline;
    float:	left;
}