body {
    background-color: red;
    margin: 0 auto;
}

button {
    height: 50px;
    width: 50px;
    background-color: white;
    margin: 10px;
    border: none;
    border-radius: 10px;
}

button:hover {
    background-color: #888888;
}

.button-holder {
    width: 640px;
    margin: 0 auto;
    text-align: center;
}

.previous {
    float: left;
}

.next {
    float: right;
}

.person, .title-container {
    background-color: white;
    padding: 5px;
    width: 500px;
    border-radius: 5px;
}

.title-container {
    margin: 10px auto;
    text-align: center;
}

#container {
    margin: 0 auto;
    width: 500px;
    overflow: hidden;
    height: 100px;
}

#container ul {
    width: 500px;
    padding: 0;
    margin: 0;
}

#container ul li {
    width: 500px;
    text-align: center;
    list-style: none;
    display: inline;
    float:	left;
}

.dots-holder {
    width: 500px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}

.dot {
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 5px;
    margin: 5px auto;
}