body {
    width: 80%;
    background-color: red;
    margin: 0 auto;
}

.index-point {
    width: 25px;
    height: 25px;
    background-color: #dad5d2;
    border: 1px solid black;
    float: left;
    display: inline-block;
}

.index-point-active {
    background-color: #ee100d;
}

/*.person-shoutout {*/
    /*height: 200px;*/
/*}*/


.person, .title-container {
    background-color: white;
    padding: 5px;
}

.title-container {
    margin: 10px auto;
    text-align: center;
}

/*.person {*/
    /*margin: 10px;*/
    /*float: left;*/
    /*display: inline;*/
}

/*below is the css to work with the demo carousel I found*/

.person {
    width: 480px;
    overflow:hidden;
}

.person ul {
    width: 1920px;
    padding: 0;
    margin: 0;
}

.person ul li {
    width:480px;
    text-align: center;
    height: 280px;
    list-style: none;
    float:	left;
}